@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes waveMotion {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-wave {
  animation: waveMotion 10s linear infinite;
}