@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes waveMotion {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-wave {
  animation: waveMotion 10s linear infinite;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2bd6121dc2e1eb7e350515c27c240d2799bc5034
